extends ../layout/base 
block content 
	section.content-header 
		h1 
			| 编辑
			small 修改联系人资料
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| 联系资料
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/customers/edit/#{(id==undefined) ? data.id : id}')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| 注意! 
										| !{messages.msg_error}
								- if (messages.msg_info) 
									.alert.alert-success.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| 成功! 
										| !{messages.msg_info}
								.form-group
									label
										| 联盟名称
									input(type='text',value="#{data.afname}",name='afname',placeholder='请输入联盟名称', autofocus).form-control
								.form-group
									label
										| 联系人
									input(type='text',value="#{data.name}",name='name',placeholder='请输入联系人姓名', autofocus).form-control
								.form-group
									label
										| 地址
									input(type='text',value="#{ (address == undefined) ? data.address : address }",name='address',placeholder='请输入地址').form-control
								.form-group
									label
										| Email
									input(type='text',value="#{ (email == undefined) ? data.email : email }",name='email',placeholder='请输入Email').form-control
								.form-group
									label
										| 电话
									input(type='text',value="#{ (phone == undefined) ? data.phone : phone }",name='phone',placeholder='请输入电话').form-control
							.box-footer
								input(type="hidden",name="_method", value="PUT")
								button(type='submit').btn.btn-primary
									i.fa.fa-pencil 
									|  提交
								a(href='/customers').btn.btn-primary.pull-right
									| 返回